In [1]:
import numpy as np
import pandas as pd
import math

In [3]:
data = pd.read_csv('fatigue_data.csv', index_col='Sl. No.')

# delete extra columns
xx = data.drop(data.columns[17:20], axis=1)
xx.head()

,NT,THT,THt2,THQCr,CT,Ct3,DT,Dt4,QmT,TT,Tt5,TCr,C,Ni,Cr,Mo,Fatigue
Sl. No.,,,,,,,,,,,,,,,,,
1,885,30,0,0,30,0.0,30.0,0.0,30,30,0,0.0,0.26,0.01,0.02,0.0,232
2,885,30,0,0,30,0.0,30.0,0.0,30,30,0,0.0,0.25,0.08,0.12,0.0,235
3,885,30,0,0,30,0.0,30.0,0.0,30,30,0,0.0,0.26,0.02,0.03,0.0,235
4,885,30,0,0,30,0.0,30.0,0.0,30,30,0,0.0,0.26,0.01,0.02,0.0,241
5,885,30,0,0,30,0.0,30.0,0.0,30,30,0,0.0,0.22,0.01,0.02,0.0,225

In [ ]:
# set X as columns No.1-16
X = data.drop(data.columns[16:20], axis=1) 
# set y as 'Fatigue' column (No.17)
y = data['Fatigue']

X.shape, y.shape

In [ ]:
from sklearn import linear_model
from sklearn.model_selection import cross_val_predict, train_test_split

import matplotlib.pyplot as plt

In [ ]:
# splitting data into training set and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

In [ ]:
lr = linear_model.LinearRegression()
lr.fit(X_train, y_train)

In [ ]:
y_pred = lr.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print('MSE:  {}'.format(round(mse, 3)))
print('RMSE: {}'.format(round(rmse, 3)))
print('MAE:  {}'.format(round(mae, 3)))
print('R2:   {}'.format(round(r2, 3)))

In [ ]:
plt.plot(y_test, y_pred, 'ko')
plt.xlabel('Measured')
plt.ylabel('Predicted')
plt.grid(True)
plt.xlim((100,1500))
plt.ylim((100,1500))
plt.plot([100,1500], [100,1500], color='blue', linewidth=3.0, linestyle='-')
my_x_ticks = np.arange(100,1600,200)
my_y_ticks = np.arange(100, 1600, 200)
plt.xticks(my_x_ticks)
plt.yticks(my_y_ticks)
plt.axis('scaled')
plt.show()

In [ ]:
print(lr.coef_)

In [ ]:
#lasso - jiang wei