In [1]:
import numpy as np 
import pandas as pd

In [16]:
# read date from csv file
data = pd.read_excel('kappa.xlsx')

# delete extra columns
X = data.drop(data.columns[0:3], axis=1).drop(data.columns[-1], axis=1)
# X = data.drop(data.columns[-1], axis=1)
y = data[data.columns[-1]]

print(X.shape, y.shape)
X.head()

(320, 36) (320,)

,nelements,nsites,nbranch,spacegroup,a (A),b (A),c (A),alpha (°),beta (°),gama (°),...,ave_col,max_mass,min_mass,ave_mass,max_chem,min_chem,ave_chem,max_elec,min_elec,ave_elec
0,3,3,9,187,3.852776,3.852776,3.924707,90,90,120,...,6.66667,88.9059,1.0079,56.29127,5.0,0.700,2.70000,2.55,1.22,1.99000
1,3,6,18,215,4.061599,4.061599,4.061599,90,90,90,...,11.00000,79.9040,1.0079,31.63953,5.0,2.640,3.54667,3.04,2.20,2.73333
2,3,6,18,215,3.877115,3.877115,3.877115,90,90,90,...,11.00000,35.4527,1.0079,16.82243,5.0,2.700,3.56667,3.16,2.20,2.80000
3,3,3,9,187,3.823046,3.823046,3.896440,90,90,120,...,6.66667,164.9303,1.0079,81.63273,5.0,0.748,2.71600,2.55,1.23,1.99333
4,2,2,6,216,3.665472,3.665472,3.665472,60,60,60,...,9.00000,78.9600,9.0122,43.98610,2.4,1.500,1.95000,2.55,1.57,2.06000